<% provide(:title, "Contact Page") %>
<div class="jumbotron">
	<h1>Contact Us</h1>
	<address>
		Written by <a href="mailto:webmaster@example.com">Stanley Louis</a>.<br>
		Visit us at:<br>
		<%= link_to "Example.com", "https://example.com/" %><br>
		Box 564, Disneyland<br>
		USA
	</address>
</div>
